body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.gray-out {
    opacity: 0.4;
    filter: alpha(opacity = 60);
}

button,input[type=submit] {
    font: 13px arial, sans-serif;
    font-weight: bold;
    padding: 8px 13px;
    color: #ffffff;
    background-color: #4787ee;
    border: 1px solid #3079ed;
    border-radius: 2px;
    margin-top: 1%;
    width:10%
}
